{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="container-fluid d-flex justify-content-center">Let's talk about us !</h1>
    <div class="container-fluid d-flex justify-content-center">
    If you say this is pop; to be singing to a tune with
    a rhythm like this, Would it be so unpopular
    for a singer like to be bringing up the fact
    that we're all gonna go? Some people swear,
    they say they know where. For me it's a
    mystery. But which ever way you see it
    you have to admit it and live it and live it
    We all kick the bucket in the end, the end!
    All the girls kick the bucket in the end, the end!
    And the boys kick the bucket in the end, the end!
    Yep! we all kick the bucket in the end, the end!
    The end, the end
    Blew up, my TV. It was numbing my brain
    to be thinking the same as a millon other
    people all fealing afraid of the same thing.
    But there's nothing to lose, coz' we're all on a
    bike and we're cycling through, getting off on
    our injuries - but you gotta get back on it
    and live it and live it to love it and live it
    and love life!
    Coz' we all kick the bucket in the end, the end...
    All the girls kick the bucket in the end, the end
    And the boys kick the bucket in the end, my friend
    Yep, we all kick the bucket in the end, the end
    The end, the end, the end
    This is not a sad song!
    I don't bring it up to get you down.
    It's a celebration of all the red cells
    going round and round in your body!
    I don't mean to preach or to sound like a
    teacher. No! - I only wanna cut the crap
    and, looking back, everybody's had to
    face the facts
    That we all kick the bucket in the end, the end
    All the girls kick the bucket in the end, the end
    And the boys kick the bucket in the end, my my my friend
    Yep, we all kick the bucket in the end, the end
    The end, the end
    The end, the end
    ah aha aha aha
    ah aha aha aha aha aha aha aha
    </div>
{% endblock %}

{% block tiltle %}
    {{ parent() }}| About Us
{% endblock %}

