{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="container-fluid d-flex justify-content-center">We all kick the bucket in the end ! </h1>
    <div class="container-fluid d-flex justify-content-center">
    <iframe width="560" height="350" src="https://www.youtube.com/embed/UBfK3j6Hs00" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{% endblock %}

{% block tiltle %}
    {{ parent() }}| Home
{% endblock %}
