{% extends 'base.html.twig' %}
{% block body %}

<h1 class="container-fluid d-flex justify-content-center">We all kick the bucket in the end ! </h1>
{% endblock %}

{% block tiltle %}
    {{ parent() }}| Home
{% endblock %}
