body {
    font-family: 'Comfortaa', cursive;

}
.bucket-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

a{
    text-decoration: none;

}

.error{
    color: red;
    list-style-type: none;

}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: black;
}

.flash-success {
    background-color: palegreen;
}

.flash-error {
    background-color: red
}