{% extends 'base.html.twig' %}

{% block body %}
<h1 class="container-fluid d-flex justify-content-center">Your wish list !</h1>
{% endblock %}

{% block tiltle %}
    {{ parent() }}| Wish List
{% endblock %}