{% extends 'base.html.twig' %}

{% block body %}
<h1 class="container-fluid d-flex justify-content-center">Detail of your wish !</h1>
{% endblock %}

{% block tiltle %}
    {{ parent() }}| Show Wish
{% endblock %}